*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #34495e;
}

.question-card{
  height: auto;
  width: 380px;
  margin: 5em auto;
  padding: 40px 25px;
  border-radius: 20px;
  background-color: #34495e;
  box-shadow: 0 27px 50px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.24);
  transition: 0.3s;
}

.question-section{
  padding:  1em;
  width: auto;
  color: white;
}

.question-section .question-count{
  font-family: "Arial", sans-serif;
  font-size: 20px;
  margin-bottom: 1em;
}

.question-section .question-text{
  font-family: Monaco, sans-serif;
  font-size: 20px;
  margin-bottom: 1em;
  text-align: center;
}

.answer-section{
  display: flex;
  flex-direction: column;
}

.answer-button{
  height: 40px;
  border-radius: 50px;
  border:none;
  background-color: rgb(131, 106, 113);
  color:#fff;
  font-size: 1em;
  transition: 0.2s;
  margin: 0.6em;
}
.answer-button:hover{box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  
}

.scoreCard{
    background-color: #34495e;
    box-shadow: 0 27px 50px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.24);
    border-radius: 20px;
    width: 350px;
    height: auto;
    text-align: center;
    font-size: 45px;
    padding: 1.3em;
    font-family: "Arial", sans-serif;
    margin: 5em auto;
    color: #fff;
}

@media only screen and (max-width: 610px) {
    .card{
      width: 320px;
      margin: 15vh auto auto auto;
      padding: 40px 20px;
    }
    .scoreCard{
      font-size: 30px;
    }
}
